.DS_Store
tokens.zsh
dotfiles/.oh-my-zsh/.editorconfig
dotfiles/.oh-my-zsh/.github/
dotfiles/.oh-my-zsh/.gitignore
dotfiles/.oh-my-zsh/.gitpod.Dockerfile
dotfiles/.oh-my-zsh/.gitpod.yml
dotfiles/.oh-my-zsh/.prettierrc
dotfiles/.oh-my-zsh/CODE_OF_CONDUCT.md
dotfiles/.oh-my-zsh/CONTRIBUTING.md
dotfiles/.oh-my-zsh/LICENSE.txt
dotfiles/.oh-my-zsh/README.md
dotfiles/.oh-my-zsh/SECURITY.md
dotfiles/.oh-my-zsh/lib/
dotfiles/.oh-my-zsh/oh-my-zsh.sh
dotfiles/.oh-my-zsh/templates/
dotfiles/.oh-my-zsh/themes/
dotfiles/.oh-my-zsh/tools/

dotfiles/.oh-my-zsh/custom/plugins/
